* {
  margin: 0;
  box-sizing: border-box;
}

body {
  
  font-family: 'League Spartan', sans-serif;
  font-family: 'Work Sans', sans-serif;
  background-color: #121214;
}

#pai {
  margin-bottom: 0;
  padding-bottom: 0;
}

#conteudo{
  width: 720px;
  height: 780px;
  background-color: #121214;
  position: absolute;
  z-index: 2;
  right: auto;
  left: 0px;
}

#image-bg {
  position: fixed;
  z-index: 1;
  left: auto;
  right: 0px;

  
}

#image-bg img {
  height: 777px;
}

#logo {
  width: 389px;
  height: 94px;
  margin: 50px 30px;
}

/*texto----------------------*/
#text {
  width: 647px;
  height: 102px;
  margin: 92px 36px;
  margin-bottom: 50px;
}

.titulo {
  font-size: 24px;
  color: #08c05e;
  line-height: 28px;
  font-weight: 700;
  margin-bottom: 11px;
  font-family: 'Work Sans';

}

.subtitulo {
  font-size: 14px;
  line-height: 16px;
  font-weight: 700;
  color: white;
  margin-bottom: 9px;
  font-family: 'League Spartan';
}

.texto {
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  color: white;
  font-family: 'League Spartan';
}


/*formulario--------------------*/

#formulario {
  margin-top: 50px;
}

#formulario p {
  font-family: 'League Spartan';
  color: #A8A8A8;
  margin-bottom: 17px;
  margin-left: 36px;
  font-weight: 700;
  font-size: 14px;
  line-height: 138.73%;
}

#formulario form {
  width: 809px;
  height: 48px;
  margin: 0px 0px 0px 36px;
  display: flex;
}

.mail input{
  width: 750px;
  height: 48px;
  border: 0;
  border-left: #08c05e 5px solid;
  padding: 0;
}

.botão button{
  color: white;
  background-color: #8257E5;
  height: 48px;
  width: 48px;
  border: 0px;
  padding: 0px;
}

.botão button ion-icon {
  font-size: 20px;
}


/*link leitura-------------------*/

.leitura {
  
  width: 198px;
  height: 26px;
  font-weight: 700;
  font-size: 15px;
  line-height: 138.73%;
  font-family: 'League Spartan';
  margin-left: 36px;
  margin-top: 50px;
  
}

.leitura a {
  text-decoration: none;
  color: #8257E5;
  display: flex;
  justify-content: center;
  align-items: center;
}

.leitura .text h3 {
  width: 167px;
  height: 24px;
}

.leitura .icon img {
  width: 24px;
  height: 24px;
  margin-right: 0px;  
}

/*responsividade do site */

@media (max-width: 647px) {
  #conteudo {
    width: 411px;
  }
  
  #image-bg {
    display: none;
  }
   
  #logo img {
    width: 322px;
  }
  
  #text{
    width: 322px;
    margin: 132px 26px;
    margin-top: 70px;
    
  }

  #formulario form {
    width: 322px;
    margin: 0px 26px;
  }
  
  #formulario p {
    margin: 0px 26px;
  }

  .mail input {
    width: 322px;
  }

  .leitura {
    margin: 40px 26px;
  }
}

